version: '3.7'

services:
  mongo:
    image: mongo:latest
    ports:
      - "27017:27017"

  angular:
    build: angular-client
    ports:
      - "4200:4200"
    volumes:
      - ./angular-client:/app

  express:
    build:
     context: express-server
    restart: on-failure
    ports:
      - "3000:3000"
    volumes:
    - ./express-server:/app
    environment:
      SCRIPT: test-watch
