<app-heading>Login</app-heading>

<form [formGroup]="userForm" class="form">
  <label for="email" class="form__label">
    Email
  </label>
  <input
    id="email"
    autocomplete="email"
    class="form__input"
    formControlName="email"
    type="email">
  <label for="password" class="form__label">
    Password
  </label>
  <input
    id="password"
    autocomplete="password"
    class="form__input"
    formControlName="password"
    type="password">
  <button (click)="onLogin()" class="button button--success">Login</button>
  <button (click)="onSignup()" class="button button--warning">Signup</button>
</form>
